@media screen and (min-width: 480px) and (max-width: 720px) {
    .form-container > div.aspect-fit {
        flex-direction: column;
        align-items: stretch;
    }

    .form-container > div.aspect-fit > div:not(:first-child) {
        margin-right: 0;
    }
}

@media screen and (min-width: 720px){
    .form-container > div.aspect-fit {
        flex-direction: row;
    }

    .form-container > div.aspect-fit > div:not(:first-child) {
        margin-right: 60px;
    }
}
