* {
  /* 解决手机端点击后背景变色问题 */
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, "Microsoft YaHei UI" ,BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --navigator_color: #fff;
  --nav_box_shadow: 0 2px 8px #f0f1f2;
  --box_shadow: 0 6px 16px -8px #00000014, 0 9px 8px #0000000d, 0 12px 48px 16px #00000008;
  --hover_base: #e9e9e9;
  --hover_base_dark: #a0a0a0;
  --box_shadow_dark: 0 6px 16px -8px #bbb, 0 9px 28px #aaa, 0 12px 48px 16px #bbb;

  --base_orange: #F48617;
  --base_orange1: #F69E45;
  --base_orange2: #F8B673;
  --base_orange3: #FBCEA2;
  --base_orange4: #FDE7D0;

  --base_gray_color: #707070;
  --base_gray_light: #f8f8f8;

  --base_purple: #9646E6;
  --base_purple1: #AB6BEB;
  --base_purple2: #C090F0;
  --base_purple3: #D5B5F5;
  --base_purple4: #EADAFA;

  --base_green: #1BAE8A;
  --base_green1: #48BEA1;
  --base_green2: #76CEB9;
  --base_green3:  #A3DFD0;
  --base_green4: #D1EFE8;

  --footer_bg: #F8F8F8;

  --transition_func_1: cubic-bezier(.7,.3,.1,1);

  --base_mask_bg: #00000073;
}

*::selection {
  background-color: #e9e9e9;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: var(--base_orange);
}

a:visited {
  color: #000;
}
